NODE_ENV="example"

NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_BASE_URL=



# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# JWT Secrets
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
# 1 day = 86400
NEXT_PUBLIC_ACCESS_TOKEN_MAX_AGE=86400
# 30 days = 2592000
NEXT_PUBLIC_REFRESH_TOKEN_MAX_AGE=2592000